# CMake build directory
build/

# Compiled binaries
*.o
*.out

# Debugging
*.dSYM/

# Logs
logs/*.log

# Linux kernel module build artifacts
kernel/*.o
kernel/*.ko
kernel/*.mod
kernel/*.mod.c
kernel/*.mod.o
kernel/Module.symvers
kernel/modules.order
kernel/.*.cmd
kernel/.tmp_versions/
